<% include ./partials/header %>
<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" placehoder="username" name="username">
    <input type="password" placehoder="password" name="password">
    <button>Login</button>
</form>
<% include ./partials/footer %>